body {
  background: #414040;
  background-size: 100vw auto;
  height: 100vh; 
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* ==MEDIA QUERYS== */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}


/* ==Header styles== */
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color:rgba(70, 66, 66, 0.712);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

/*Foces all links on menu to be side by side*/
.menu ul {
  display: flex;
  justify-content: space-around;
}

/*Change list style to remobe circles. */
.menu li { 
  list-style: none;
}
  
.menu a {
  display: block;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: whitesmoke;
  color: black;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 3em;
  font-family: 'Luckiest Guy', cursive;
}
  
.site-subtitle {
  font-style: italic;
  font-family: 'Satisfy', cursive;
  line-height: 1.8em; /*altura da linha*/
}



/* ==Conteudo principal== */

.aprendendo {
  color: white;
}


.aprendendo a {
  color: rgb(178, 129, 211);
  
}
